/*Color Palette
#323232 - Dark Grey
#EDAF13 - Light Orange
#9BBBA4 - Turquoise
#FF6D35 - Dark Orange
#51434C - Dark Purple
#4DCEC6 - Light Blue
#283D51 - Dark Blue
*/

@import url('Dataset.css');
/*@import url('SideMenu.css');*/
@import url('ImageModal.css');

body {
    background-color: #323232;
    margin: 0;
    padding: 0;
}

.content {
    background-image: url("../../assets/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-header {
    background-image: url("../../assets/civicdata.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}

/*.loader {*/
    /*border: 1em solid #f3f3f3;*/
    /*border-radius: 50%;*/
    /*border-top: 1em solid #edb21f;*/
    /*width: 8em;*/
    /*height: 8em;*/
    /*animation: spin 1s linear infinite;*/
    /*margin: auto;*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/