/*Color Palette
#323232 - Dark Grey
#EEB211 - Light Orange
#9BBBA4 - Turquoise
#FF6D35 - Dark Orange
#51434C - Dark Purple
#4DCEC6 - Light Blue
#283D51 - Dark Blue
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
@import url('../Contribution/styles/Contribute.scss');
@import url('../Home/styles/CoverImage.css');
@import url('../Home/styles/Dataset.css');
@import url('../Home/styles/EmptySearch.css');
@import url('../Home/styles/Footer.css');
@import url('../Home/styles/ImageModal.css');
@import url('../Home/styles/Loader.css');
@import url('../Home/styles/MetaInfo.css');
@import url('../Home/styles/Mission.css');
@import url('../Home/styles/Navigation.css');

body {
    background-color: #323232;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.content {
    background-image: url("/public/media/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}