#empty-search {
    background-color: lightgoldenrodyellow;
    color: #283D51;
    min-height: 12em;
    position: relative;
}

#empty-search h2 {
    margin: 0;
    text-align: center
}

#empty-search img {
    max-height: 4em;
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: x-small;
}