#data-contribution {
  padding-top: 2em;
  padding-bottom: 4em;

  background-color: lightgoldenrodyellow;
  color: $darkblue;

  h1 {
    padding-bottom: 1em;
    text-align: center;
  }

  .validation-error {
    color: indianred;
    margin-top: 0.25em;
  }
}